<h3>大家怎么说</h3>
<ul class="collection">
    <app-comment-item *ngFor="let comment of comments" [comment]="comment"></app-comment-item>
</ul>
<div class="card-panel hoverable">
  <div class="row">
    <form class="col s12" (ngSubmit)="submit()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <input type="text" class="validate" [(ngModel)]="model.comment" name="comment" required>
          <label for="comment">发表伟论</label>
        </div>
        <div class="row">
          <div class="col s1 offset-s11">
            <button type="submit" class="waves-effect waves-light btn" >发布</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
